<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <extension
            id="product"
            point="org.eclipse.core.runtime.products">
        <product
                name="ZPAQ GUI"
                application="org.eclipse.e4.ui.workbench.swt.E4Application">
            <property
                    name="clearPersistedState"
                    value="true">
            </property>
            <property
                    name="applicationCSS"
                    value="platform:/plugin/de.tt.zpaqgui/css/default.css">
            </property>
            <property
                    name="appName"
                    value="ZPAQ GUI">
            </property>
        </product>
    </extension>

</plugin>
